.addTask {
	width: 100%;
	text-align: center;
}

.addTask input {
	border: none;
	padding: 1rem;
	border-radius: 1rem;
	background: #e8e8e8;
	box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
	transition: 0.3s;
	width: 70%;
	margin-right: 1rem;
}

.addTask input:focus {
	outline-color: #e8e8e8;
	background: #e8e8e8;
	box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
	transition: 0.3s;
}

.addTask button {
	position: relative;
	overflow: hidden;
	border: 1px solid #c5c5c5;
	border-radius: 1rem;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 18px 18px 17px;
	text-decoration: none;
	cursor: pointer;
	background: #00504cd8;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	box-shadow: 20px 20px 60px #00504cd8, -20px -20px 60px;
}

button span:first-child {
	position: relative;
	transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 10;
}

button span:last-child {
	color: #00504c;
	display: block;
	position: absolute;
	bottom: 0;
	transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 100;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translateY(225%) translateX(-50%);
	height: 14px;
	line-height: 13px;
}

button:after {
	content: "";
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e8e8e8;
	box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
	transform-origin: bottom center;
	transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
	transform: skewY(9.3deg) scaleY(0);
	z-index: 50;
}

button:hover:after {
	transform-origin: bottom center;
	transform: skewY(9.3deg) scaleY(2);
}

button:hover span:last-child {
	transform: translateX(-50%) translateY(-50%);
	opacity: 1;
	transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* AddTask.css */
img {
	width: 100%; /* Ajusta el valor que desees */
	height: auto; /* Mantiene la proporción de la imagen */
}
